{% extends 'base.html.twig' %}
{% block title %}
{% if user is defined %}
    {{user.username}}
    {% else %}
    No existe el usuario
{% endif %}
{% endblock %}

{% block body %}

{% if user is defined %}    
    <h2>{{ user.username }}</h2>
    <p>Seguidos: {{ user.follows|length }}</p>
    {% if user==app.user %}
        <div>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
        </div>
    {% endif %}
{% else %}
    <div>
    <p>No existe el usuario</p>
    </div>
{% endif %}

{% for follow in app.user.follows %}
    {% if follow.id == user.id %}
        <div>
        <a href="{{ path('app_user_unfollow', {'id': user.id}) }}">Unfollow</a>
        </div>
    {% else %}
        <div>
        <a href="{{ path('app_user_follow', {'id': user.id}) }}">Follow</a>
        </div>
    {% endif %}
{% endfor %}

{% if post is defined %}
    {% for post in posts %}
        <a href="{{ path('app_post_show', {'id': post.id}) }}">
        <div>
            <img src="{{asset('uploads/images/' ~ post.image) }}" alt="Imagen">
            <p>{{ post.description }}</p>
        </div>
        </a>
    {% endfor %}
{% else %}
    <div>
    <p>No existen posts</p>
    </div>
{% endif %}

{% endblock %}
